@media screen and (max-width: 1024px) {
  .search-bar form {
    width: 60%;
  }

  .header .menu-sub-first {
    width: 200px !important;
  }
  .header .menu-sub-second {
    width: 200px !important;
    right: 98%;
  }

  .content_about_right {
    padding: 2rem 0 2rem 0;
  }

  .new-collection .banner1, .new-collection .banner2 {
    width: 47%;
  }

  div.swiper-button-next, div.swiper-button-prev {
    display: none !important;
  }

  .footer_subscribe p {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .search-bar form select {
    width: 23%;
  }

  .header {
    visibility: hidden;
    z-index: -1000;
  }
  .header .row {
    overflow: hidden;
  }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 2rem;
    height: 5rem;
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: -5rem;
  }
  .header-mobile_logo {
    padding: 1rem 0;
  }
  .header-mobile_logo img {
    width: 55%;
  }
  .header-mobile .menu-main {
    list-style: none;
    display: flex;
    line-height: 5rem;
  }
  .header-mobile .menu-main li {
    margin-left: 1.5rem;
  }
  .header-mobile .menu-main li i {
    font-size: 20px;
    color: #141414;
    cursor: pointer;
  }
  .header-mobile .menu-sub-mobile {
    position: absolute;
    top: 5rem;
    width: 100vw;
    background-color: white;
    z-index: 49;
    right: 100%;
    list-style: none;
    padding: 0 10px;
    transition: 0.3s;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15);
  }
  .header-mobile .menu-sub-mobile-active {
    right: 0;
  }
  .header-mobile .menu-sub-mobile li {
    border-top: 1px solid #ebebeb;
    padding: 0.5rem 0;
    position: relative;
  }
  .header-mobile .menu-sub-mobile li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #141414;
    margin-left: 1rem;
  }
  .header-mobile .menu-sub-mobile li:hover > a {
    color: #fec576;
    text-decoration: none;
  }
  .header-mobile .menu-sub-mobile li.has-sub-menu div.row {
    padding: 0 2.5rem 0 1rem;
  }
  .header-mobile .menu-sub-mobile li.has-sub-menu div.row i {
    font-size: 30px;
    margin-top: -5px;
  }
  .header-mobile .menu-sub-mobile li.has-sub-menu:hover > div.row a {
    color: #fec576;
    text-decoration: none;
  }
  .header-mobile .menu-sub-mobile li.has-sub-menu ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .header-mobile .menu-sub-mobile li.has-sub-menu ul li a {
    margin-left: 2rem;
  }
  .header-mobile .menu-sub-mobile li.has-sub-menu ul li:hover a {
    color: #fec576;
    text-decoration: none;
  }
  .header-mobile .menu-sub-mobile li.has-sub-menu ul.sub-menu-show {
    transition: 1s;
    max-height: 1000px;
  }

  .banner {
    margin-top: 0;
  }

  .content_about_right {
    padding: 0;
  }
  .content_about_right h3 {
    font-size: 40px;
  }
  .content_about_right h3 span {
    font-size: 30px;
  }
  .content_about_right p {
    font-size: 14px;
  }
  .content_about_right .button {
    padding: 0 15px;
  }
  .content_about_right .mt-4 {
    margin-top: 0.5rem !important;
  }
  .content .list_product-best .row.flex-wrap.justify-content-between {
    padding-left: 15px;
  }
  .content_product-best .container.mt-2 > .row {
    flex-direction: column-reverse;
  }
  .content_product-best .ads {
    display: flex;
    justify-content: space-between;
  }
  .content_product-best .ads .col-sm-6 {
    padding: 0;
  }
  .content_product-best .ads .col-sm-6:first-child {
    padding: 10px 5px 10px 0;
  }
  .content_product-best .ads .col-sm-6:last-child {
    padding: 10px 0 10px 5px;
  }

  .new-collection_title h3 {
    width: 95%;
    font-size: 30px;
  }
  .new-collection_title h3::before {
    width: 100%;
    top: -10px;
    left: 7px;
  }

  .footer img {
    width: 30%;
  }
  .footer_address {
    width: 45%;
  }
}
@media screen and (max-width: 425px) {
  .content_about .row {
    flex-direction: column-reverse;
  }
  .content_about_left {
    margin-top: 1rem;
  }
  .content_about_right span {
    font-size: 16px;
  }
  .content_about_right h3 {
    font-size: 30px;
  }
  .content_about_right h3 span {
    font-size: 18px;
  }
  .content_product-best .title span {
    font-size: 16px;
  }
  .content_product-best .title h3 {
    font-size: 30px;
  }
  .content_product-best .title h3 span {
    font-size: 18px;
  }
  .content_list-product .list-product_title span {
    font-size: 16px;
  }
  .content_list-product .list-product_title h3 {
    font-size: 30px;
  }
  .content_list-product .list-product_title h3 span {
    font-size: 18px;
  }

  .new-collection_title h3 {
    width: 95%;
    font-size: 30px;
  }
  .new-collection_title h3::before {
    width: 98%;
  }
  .new-collection div.d-flex {
    flex-wrap: wrap;
  }
  .new-collection .banner1, .new-collection .banner2 {
    width: 99%;
    border: 5px solid #fec576;
    margin: 0;
    margin-top: 1rem;
  }

  .newspaper_title {
    padding: 0 1rem;
  }
  .newspaper_title span {
    font-size: 16px;
  }
  .newspaper_title h3 {
    font-size: 30px;
  }
  .newspaper_title h3 span {
    font-size: 18px;
  }
  .newspaper .item_newspaper {
    width: 100% !important;
  }

  .item_product {
    width: 49% !important;
  }
}

/*# sourceMappingURL=responsive.css.map */
