html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji";
}

* {
  margin: 0;
  padding: 0;
}

.mask {
  width: 100vw;
  height: calc(100vh + 5rem);
  position: fixed;
  top: -5rem;
  left: 0;
  background-color: transparent;
  opacity: 0.25;
  z-index: 0;
  transition: 0.3s;
}
.mask-active {
  background-color: black;
  z-index: 99;
}

.search-bar {
  height: 5rem;
  width: 100%;
  background-color: white;
  position: fixed;
  top: -5rem;
  z-index: 100;
  transition: 0.3s;
}
.search-bar-show {
  top: 0;
}
.search-bar form {
  padding: 1.25rem 0;
  width: 40%;
}
.search-bar form input {
  border: none;
  border-right: 1px solid #999;
}
.search-bar form select {
  width: 20%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 0.5rem;
}
.search-bar .close-search_bar {
  cursor: pointer;
  position: absolute;
  right: 30px;
  font-size: 30px;
  top: 20px;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.header-mobile {
  display: none;
}
.header_logo {
  margin-top: 10px;
  max-height: 60px;
}
.header .menu-main {
  list-style: none;
  line-height: 5rem;
  margin-bottom: 0;
  width: 60%;
  font-weight: 300;
}
.header .menu-main .menu-item {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}
.header .menu-main .menu-item a {
  color: #141414;
}
.header .menu-main .menu-item a:hover {
  text-decoration: none;
  color: #fec576;
}
.header .menu-main .menu-item i {
  font-size: 14px;
}
.header .menu-main .menu-item .menu-sub-first {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  transition: 0.3s;
  background-color: white;
  width: 235px;
  left: 0;
  top: 150%;
}
.header .menu-main .menu-item .menu-sub-first li {
  text-transform: none;
  height: 35px;
  line-height: 35px;
  margin: 3px 0;
  padding-left: 20px;
  position: relative;
}
.header .menu-main .menu-item .menu-sub-first li::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  top: 0;
  transform: scale(0);
}
.header .menu-main .menu-item .menu-sub-first li:hover::before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  background-color: #fec576;
}
.header .menu-main .menu-item .menu-sub-first li:hover > i {
  color: #fec576;
}
.header .menu-main .menu-item .menu-sub-first li .menu-sub-second {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  list-style: none;
  background-color: white;
  position: absolute;
  right: -95%;
  top: 50%;
  width: 235px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.header .menu-main .menu-item .menu-sub-first li .menu-sub-second li {
  height: fit-content;
}
.header .menu-main .menu-item .menu-sub-first li:hover .menu-sub-second {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.header .menu-main .menu-item .menu-sub-first li > a {
  display: inline-block;
  width: 85%;
}
.header .menu-main .menu-item:hover .menu-sub-first {
  visibility: visible;
  opacity: 1;
  top: 90%;
}
.header .menu-main .menu-cart {
  position: relative;
}
.header .menu-main .menu-cart .cart {
  height: fit-content;
  width: 20rem;
  background-color: white;
  position: absolute;
  right: 0;
  top: 4.5rem;
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.33);
  display: none;
}
.header .menu-main .menu-cart .cart ul {
  padding: 1rem 2rem;
}
.header .menu-main .menu-cart .cart ul li {
  padding: 1rem 0;
  justify-content: space-between;
  border-bottom: 1px dashed #ebebeb;
}
.header .menu-main .menu-cart .cart ul li .cart_img {
  width: 28%;
  height: 5rem;
  display: flex;
}
.header .menu-main .menu-cart .cart ul li .cart_info {
  width: 70%;
}
.header .menu-main .menu-cart .cart ul li .cart_info h3 {
  font-size: 16px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.header .menu-main .menu-cart .cart ul li .cart_info h6 {
  font-size: 14px;
}
.header .menu-main .menu-cart .cart ul li .cart_info .cart_quantity {
  display: flex;
  height: 2rem;
  width: 100%;
}
.header .menu-main .menu-cart .cart ul li .cart_info .cart_quantity button {
  padding-top: 5px;
  color: black;
  background-color: transparent;
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  border: 1px solid #ebebeb;
}
.header .menu-main .menu-cart .cart ul li .cart_info .cart_quantity input[type=number] {
  height: 1.75rem;
  width: 3rem;
  border: none;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  -webkit-appearance: none;
}
.header .menu-main .menu-cart .cart ul li .cart_info .cart_quantity input::-webkit-outer-spin-button,
.header .menu-main .menu-cart .cart ul li .cart_info .cart_quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.header .menu-main .menu-cart .cart .total-money {
  padding: 0 2rem;
}
.header .menu-main .menu-cart .cart .total-money h5 {
  font-size: 18px;
}
.header .menu-main .menu-cart .cart .total-money h5:last-child {
  color: #fec576;
}
.header .menu-main .menu-cart .cart .option {
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.header .menu-main .menu-cart .cart .option a {
  display: block;
  width: 48%;
  background-color: #fec576;
  color: white;
  height: 2.5rem;
  text-align: center;
}
.header .menu-main .menu-cart .cart .option a h6 {
  height: 100%;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.header .menu-main .menu-cart .cart .option a:hover {
  text-decoration: none;
  background-color: #feb653;
}
.header .menu-main .menu-cart:hover .cart {
  display: block;
}
.header .menu-main i {
  font-size: 25px;
  color: #141414;
  cursor: pointer;
}

.path-bar {
  padding: 0.75rem 0;
  background-color: #f3f3f3;
}
.path-bar a {
  font-size: 14px;
  color: #9e9fa1;
}
.path-bar a:last-child {
  color: #fec576;
}
.path-bar span {
  font-size: 14px;
  margin: 0 0.5rem;
  color: #9e9fa1;
}

.content_main {
  padding: 2rem 0;
}
.content_main_left {
  padding-left: 0;
}
.content_main_left .left_title {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 600;
}
.content_main_left .left_des {
  color: #777;
  font-size: 15px;
  letter-spacing: 0.25px;
}
.content_main_left .contact_box {
  padding: 5px 0 5px 60px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 60px;
}
.content_main_left .contact_icon {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border: 1px dashed #fec576;
  border-radius: 50%;
  color: #fec576;
  transition: 0.3s;
}
.content_main_left .contact_icon-hover {
  background-color: #fec576;
  color: #fff;
}
.content_main_left .contact_info {
  font-size: 15px;
  color: #777;
  transition: 0.3s;
}
.content_main_left .contact_info-hover {
  color: #fec576;
}
.content_main_right {
  padding-right: 0;
}
.content_main_right form {
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  padding: 1.5rem 1rem;
}
.content_main_right label {
  font-size: 15px;
}
.content_main_right input[type=text], .content_main_right input[type=email], .content_main_right input[type=tel], .content_main_right textarea {
  border-radius: 0;
  font-size: 15px;
}
.content_main_right button {
  padding: 0.5rem 1.5rem;
  border: 1px solid #fec576;
  color: #fff;
  background-color: #fec576;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}
.content_main_right button:hover {
  background-color: #feba5d;
  border: 1px solid #feba5d;
}
.content_map {
  padding: 0;
  margin-top: 1.5rem;
  height: 350px;
}

.footer {
  background-color: #2c2c2c;
  padding: 2rem 0;
  height: fit-content;
}
.footer_des {
  color: #bbb;
  margin: 15px 0;
  letter-spacing: 0.25px;
  font-size: 14px;
}
.footer_des p {
  margin-bottom: 0;
}
.footer_phone a, .footer_phone i {
  color: #fec576;
  font-weight: 600;
  font-size: 28px;
}
.footer_phone:hover a, .footer_phone:hover i {
  text-decoration: none;
  color: white;
}
.footer_phone p {
  color: #fec576;
  font-size: 14px;
}
.footer_address {
  width: 70%;
}
.footer_address p {
  color: #bbb;
  font-size: 15px;
}
.footer_email a {
  color: #fec576;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
.footer_email a:hover {
  color: white;
  text-decoration: none;
}
.footer_subscribe h3 {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
  padding-top: 20px;
  color: #fefefe;
  text-transform: uppercase;
}
.footer_subscribe p {
  color: #bbb;
  font-size: 14px;
  margin-top: 1rem;
}
.footer_subscribe input {
  background: #fff;
  border-color: #e5e5e5;
  color: #333;
  font-size: 16px;
  border-radius: 50px;
}
.footer_subscribe button {
  background-color: #fec576;
  color: #fff;
  border-color: #fec576;
  border-radius: 50px;
}
.footer_subscribe button:hover {
  color: #fff;
  background-color: #feba5d;
  border-color: #feba5d;
}
.footer_option {
  margin-top: 1rem;
}
.footer_option h3 {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
  margin-bottom: 0;
  color: #fefefe;
  text-transform: uppercase;
}
.footer_option ul {
  list-style: none;
}
.footer_option ul li {
  margin: 4px 0;
}
.footer_option ul li a {
  color: #bbb;
  font-size: 15px;
  margin: 5px 0;
}
.footer_option ul li a:hover {
  text-decoration: none;
  color: #fec576;
}

.copyright {
  background-color: #333;
  padding: 10px 0;
}
.copyright * {
  color: white;
  font-size: 13px;
}

#backtotop {
  width: 2.75rem;
  height: 2.75rem;
  background-color: black;
  border-radius: 5px;
  position: fixed;
  border: 2px solid white;
  bottom: 3rem;
  right: 2%;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  visibility: hidden;
  z-index: 50;
}
#backtotop i {
  font-size: 35px;
  color: white;
}
#backtotop:hover {
  background-color: #fec576;
}

/*# sourceMappingURL=style.css.map */
