@{
    ViewBag.Title = "Danh sách cửa hàng";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<link rel="stylesheet" href="~/Template/question/style.css">
<link rel="stylesheet" href="~/Template/question/responsive.css">
 <!-- PATH BAR -->
<div class="path-bar">
    <div class="container">
        <div class="row">
            <a href="#">Trang chủ</a>
            <span>/</span>
            <a href="#">Câu hỏi thường gặp</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="container mb-3" style="padding: 0;">
        <h5 class="title">CHÍNH SÁCH BẢO HÀNH</h5>
        <div class="wrap-content">
            <div class="wrap-content_title" onclick="this.classList.toggle('wrap-content_title-active'); this.nextElementSibling.classList.toggle('drop-content-active')">
                Chính sách bảo hành chất lượng dịch vụ
            </div>
            <div class="drop-content">
                <p>
                    Khi Quý khách không hài lòng về chất lượng ca làm việc của nhân viên giúp việc,
                    Evo Services sẽ bảo hành toàn bộ ca làm.
                    Chúng tôi sẵn sàng làm sạch lại các khu vực Quý khách chưa hài lòng và không tính thêm phí.
                </p>
            </div>
        </div>
        <div class="wrap-content">
            <div class="wrap-content_title" onclick="this.classList.toggle('wrap-content_title-active'); this.nextElementSibling.classList.toggle('drop-content-active')">
                Chính sách bảo hành chất lượng dịch vụ
            </div>
            <div class="drop-content">
                <p>
                    Khi Quý khách không hài lòng về chất lượng ca làm việc của nhân viên giúp việc,
                    Evo Services sẽ bảo hành toàn bộ ca làm.
                    Chúng tôi sẵn sàng làm sạch lại các khu vực Quý khách chưa hài lòng và không tính thêm phí.
                </p>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 0;">
        <h5 class="title">CHÍNH SÁCH ĐỔI NHÂN VIÊN VÀ HOÀN TIỀN</h5>
        <div class="wrap-content">
            <div class="wrap-content_title" onclick="this.classList.toggle('wrap-content_title-active'); this.nextElementSibling.classList.toggle('drop-content-active')">
                Chính sách bảo hành chất lượng dịch vụ
            </div>
            <div class="drop-content">
                <p>
                    Khi Quý khách không hài lòng về chất lượng ca làm việc của nhân viên giúp việc,
                    Evo Services sẽ bảo hành toàn bộ ca làm.
                    Chúng tôi sẵn sàng làm sạch lại các khu vực Quý khách chưa hài lòng và không tính thêm phí.
                </p>
            </div>
        </div>
        <div class="wrap-content">
            <div class="wrap-content_title" onclick="this.classList.toggle('wrap-content_title-active'); this.nextElementSibling.classList.toggle('drop-content-active')">
                Chính sách bảo hành chất lượng dịch vụ
            </div>
            <div class="drop-content">
                <p>
                    Khi Quý khách không hài lòng về chất lượng ca làm việc của nhân viên giúp việc,
                    Evo Services sẽ bảo hành toàn bộ ca làm.
                    Chúng tôi sẵn sàng làm sạch lại các khu vực Quý khách chưa hài lòng và không tính thêm phí.
                </p>
            </div>
        </div>
    </div>
</div>
